
/* 首頁 */
.bg{
  max-height: 500px;
   background-position: center center;
   background-size: cover;
   background-image: url("https://haostore.fami.life/website/uploads/website_1687/zh-tw/wpitem_pic_357616.jpg?_6130");
 }


 /* 咖啡色header */
 .Package{
   background-color: rgb(61, 42, 16);
 }


 
 /* signup*/
 .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
 
 
 
 
 
 
 
 
 
 
 
 